* { 
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    flex-direction: column;
    height: 100%;
} */

/* main{
    display: flex;
    flex: 1 0 auto;
} */

#Posts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    /* flex-shrink: 1; */
    flex-wrap: wrap;
}

#Post{
  /* background-color: green; */
  /* display: flex; */
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  box-shadow: 0 2px 5px -2px black;
}
#PostTitle{
    background-color: darkgreen;
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

P{
    background-color: white;
    padding: 1rem
}

#postHead{
    display: flex;
    /* flex-direction: row; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* justify-content: space-between; */
    /* align-items: right; */
    /* justify-content: right; */
    /* width: fit-content; */
}

.top{
    display: flex;
    /* max-width: max-content; */
    /* width: 1000px; */
    /* margin: 100 100 100 100; */
    flex-grow: 1;
    justify-content: space-between;
}

.searchbar{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-direction: row;
    justify-self: left; */
    /* justify-content: ; */
    margin-left: 1rem;
    width: 15rem;
}

/* #createPostButton{
    display: flex;
    flex-direction: row; 
    flex: 1; 
    justify-self: right;
    margin-bottom: 1rem;
    margin-left: 90rem; 
} */
.nav-bar{
display: flex;
background-color: darkgreen;
justify-content: right;
/* padding: 5rem; */
text-decoration: none;
color: white;
font-weight: bold;
/* margin: 0;
padding: 0;
box-sizing: border-box; */
}

#viewbutton{
    /* display: block; */
    margin-bottom: .5rem;
}

a{
    padding: .25em .5em;
    border-right: solid white 1px;
    text-decoration: none;
    color: white;
}
.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navtitle{
    margin-right: auto;
    margin-top:5px;
    /* margin-bottom:5px; */
    font-family: 'Bungee', cursive;
}

#MessageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#MessageRecipient{
    color:darkgreen;
    margin-top: 1rem;
    margin-left: 1rem;
}

#InputMessage{
    height: 3rem;
    width: 30rem;
}

#MessageSubmitButton{
    margin-top: 10px;
}

#MessageEditContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostInput{
    height: 2rem;
    width: 15rem;
}

.MyMessageTitle{
    background-color: darkgreen;
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.MessageContent{
    flex-direction: column;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    box-shadow: 0 2px 5px -2px black;
}

#CreateMessageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#MainTitle{
    font-family: 'Bungee', cursive;
    font-size: 40pt;
    color: green;
    align-self: center;
}

#FlexContainer{
    display: flex;
    height: 400px;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

#FlexContainer2{
    display: flex;
    justify-content: center;
}